

<!-- contacts-->
    <nav class="navbar navbar-inverse  navbar-fixed-top">
          <div class="container">
              <div class="collapse navbar-collapse ">
                <ul class="nav nav-tabs  nav-justified">
                 <li class="head-email"><a href="#" class="disabled"> <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> slavyanskytour@gmail.com</a></li>
                 <li><a href="#" class="disabled"> <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> +38(067)430-36-07</a></li>
                 <li class="hidden-md hidden-sm"><a href="#" class="disabled"> <span class="glyphicon glyphicon-time" aria-hidden="true"></span> 9.30am-19.00pm</a></li>
                 <li><a href="https://www.facebook.com/slavyanskytur/" class="contacts" title="facebook"> <i class="fa fa-facebook fa-lg" aria-hidden="true"></i></a></li>
                 <li><a href="https://vk.com/slavtur" class="contacts" title="vkontakte"><i class="fa fa-vk fa-lg" aria-hidden="true"></i></a></li>
                 <li class="hidden-md hidden-sm"><a href="https://www.instagram.com/slavtur.com.ua/" class="contacts" title="instagram"> <i class="fa fa-instagram fa-lg" aria-hidden="true"></i></a></li>
             </ul>
                <div class="header_bottom"></div>
         </div>
         <!-- end contacts-->

<!-- menu -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1 " aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" routerLink=""><img title="Главная" alt="Brand" src="/assets/images/logo-site.png"> </a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
         <li class="hidden-md hidden-sm"><a routerLink="about">О нас</a></li>
   <li class="dropdown mega-dropdown">
         <a href="#" class="dropdown-toggle" data-toggle="dropdown">Пляжный отдых <span class="caret"></span></a>              
                <ul class="dropdown-menu mega-dropdown-menu">
                    <li class="col-sm-3  col-md-3 hidden-xs">
                        <ul>
                                <div class="item">
                                     <a  href="#"><img src="/assets/images/about-us/alya2.jpg" class="img-responsive img-rounded" alt=""></a>
                                     <h4 class="text-center"><b>Алевтина Бондарь</b></h4>
                                     <p class="text-center">тревел-менеджер</p> 
                                      <p class="text-center">+38(067)873-55-57</p>                    
                                     <p class="text-center"><a href="index-forma-search-tour-alia.html" class="btn btn-danger btn-search-meneger" role="button"> Заявка на подбор тура</a> </p>        
                                </div><!-- End Item -->
                        </ul>
                    </li>
                    <li class="col-sm-3">
                        <ul>
                              <li class="dropdown-header">Страны сезона</li>
                              <li><a href="tyru_abroad_sea/index-abrod-egypt.html">Египет</a></li>
                              <li><a href="tyru_abroad_sea/index-abrod-turkey.html">Турция</a></li>
                              <li><a href="tyru_abroad_sea/index-abrod-turkey.html">Турция из Винницы</a></li>
                              <li><a href="tyru_abroad_sea/index-abrod-bolgaria.html">Болгария</a></li>
                              <li><a href="tyru_abroad_sea/index-abrod-tunis.html">Тунис</a></li>
                              <li><a href="tyru_abroad_sea/index-abrod-chernogoria.html">Черногория</a></li>
                              <li><a href="tyru_abroad_sea/index-abrod-spain.html">Испания</a></li>
                              <li><a href="tyru_abroad_sea/index-abrod-horvatia.html">Хорватия</a></li>
                              <li><a href="tyru_abroad_sea/index-abrod-kipr.html">Кипр</a></li>
                              <li><a href="tyru_abroad_sea/index-abrod-greece.html">Греция</a></li>

                        </ul>
                    </li>
                    <li class="col-sm-3">
                        <ul>
                              <li class="dropdown-header">Экзотика</li>
                              <li><a href="tyru_abroad_sea/index-abrod-shri_lanka.html">Шри-Ланка</a></li>
                              <li><a href="tyru_abroad_sea/index-abrod-oae.html">ОАЕ</a></li>
                              <li><a href="tyru_abroad_sea/index-abrod-tailand.html">Таиланд</a></li>
                              <li><a href="tyru_abroad_sea/index-abrod-goa.html">ГОА</a></li>
                              <li><a href="tyru_abroad_sea/index-abrod-tanzania.html">Танзания (Занзибар)</a></li>
                              <li><a href="tyru_abroad_sea/index-abrod-dominikana.html">Доминикана</a></li>
                              <li><a href="tyru_abroad_sea/index-abrod-maldivy.html">Мальдивы</a></li>
                        </ul>
                    </li>
                    <li class="col-sm-3">
                        <ul>
                              <li class="dropdown-header">Интересное</li>
                              <li><a href="tyru_abroad_sea/index-abrod-gorgia.html">Грузия</a></li>
                              <li><a href="tyru_abroad_sea/index-abrod-izrail.html">Израиль</a></li>
                              <li><a href="tyru_abroad_sea/index-abrod-izrail.html">Израиль из Винницы</a></li>
                              <li><a href="tyru_abroad_sea/index-abrod-iordania.html">Иордания</a></li>
                              <li> <i class="fa fa-globe fa-5x hidden-xs" aria-hidden="true"></i></li>
                              <li><a  class="btn btn-danger btn-search" role="button" href="tyru_abroad_sea/index-abrod.html">ПОИСК ТУРОВ ON-LINE</a></li>
                        </ul>
                    </li>
                    </ul>
                </li>
   <li class="dropdown mega-dropdown">
         <a href="#" class="dropdown-toggle" data-toggle="dropdown">Туры по Европе<span class="caret"></span></a>              
                <ul class="dropdown-menu mega-dropdown-menu">
                    <li class=" col-sm-3  col-md-3 hidden-xs">
                        <ul>
                                <div class="item">
                                     <a href="#"><img src="/assets/images/about-us/vika2.jpg" class="img-responsive img-rounded" alt=""></a>
                                     <h4 class="text-center"><b>Виктория Щербань</b></h4>
                                     <p class="text-center">тревел-менеджер </p> 
                                      <p class="text-center">+38(067)4303603</p>                    
                                     <p><a href="index-forma-search-tour-vika.html" class="btn btn-danger btn-search-meneger" role="button"> Заявка на подбор тура</a> </p>  

                                </div><!-- End Item -->
                        </ul>
                    </li>
                    <li class="col-sm-3">
                        <ul>
                              <li class="dropdown-header">Автобусные туры</li>
                              <li><a href="tyru_evrope/index-europa-without-night.html">Туры без ночных переездов</a></li>
                              <li><a href="tyru_evrope/index-europa-skandinavia.html">Туры в Скандинавию и фьорды</a></li>
                              <li><a href="tyru_evrope/index-europa-beach-sea.html">Пляж и море</a></li>
                              <li><a href="tyru_evrope/index-europa-without-bio.html">Туры без биометрии</a></li>
                               <li><a href="tyru_evrope/index-europa-may-holiday.html">Майские праздники 2017</a></li>
                              <li><a href="tyru_evrope/index-europa-school.html">Школьные туры</a></li>
                        </ul>
                    </li>
                    <li class="col-sm-3">
                        <ul>
                              <li class="dropdown-header">Акции</li>
                              <li><a href="tyru_evrope/index-europa-spo.html">СПО-спецпредложения</a></li>
                              <li><a href="tyru_evrope/index-europa-akcia-algol.html">Акционные туры</a></li>
                              <li><a href="tyru_evrope/index-europa-case.html">Туры по доступной цене</a></li>
                              <li><a href="#">Пришел, увидел и купил</a></li>
                              <li class="dropdown-header avia-tur">Авиа туры</li>
                              <li><a href="tyru_evrope/index-europa-avia-ekonam.html">Эконом туры</a></li>
                              <li><a href="tyru_evrope/index-europa-concert-festival.html">Концерты, фестивали</a></li>
                              <li><a href="tyru_evrope/index-europa-healthy.html">Лечебные туры</a></li>
                        </ul>
                    </li>
                    <li class="col-sm-3">
                        <ul>
                              <li><img class="eiffel hidden-xs" src="/assets/images/colosseum.ico">
                             </li>
                              <li><a  class="btn btn-danger btn-search" role="button" href="tyru_evrope/index-europa.html">ПОИСК ТУРОВ ON-LINE</a></li>
                        </ul>
                    </li>
                    </ul>
                </li>            
   <li class="dropdown mega-dropdown">
         <a href="#" class="dropdown-toggle" data-toggle="dropdown">Визы<span class="caret"></span></a>              
                <ul class="dropdown-menu mega-dropdown-menu">
                    <li class=" col-sm-3  col-md-3 hidden-xs">
                        <ul>
                                <div class="item">
                                     <a href="#"><img src="/assets/images/about-us/alina2.jpg" class="img-responsive img-rounded" alt=""></a>
                                     <h4 class="text-center"><b>Бурковская Алина</b></h4>
                                     <p class="text-center">тревел-менеджер </p> 
                                     <p class="text-center">+38(097)1279604</p>                  
                                     <p><a href="index-forma-search-tour-lena.html" class="btn btn-danger btn-search-meneger" role="button"> Заявка на подбор тура</a> </p>        
                                </div><!-- End Item -->
                        </ul>
                    </li>
                    <li class="col-sm-3">
                        <ul>
                              <li class="dropdown-header">Шенген</li>
                              <li><a href="http://visa.slavsplav.com.ua/">Польша</a></li>
                              <li><a href="http://visa.slavsplav.com.ua/">Италия</a></li>
                              <li><a href="http://visa.slavsplav.com.ua/">Литва</a></li>
                              <li><a href="http://visa.slavsplav.com.ua/">Австрия</a></li>
                              <li><a href="http://visa.slavsplav.com.ua/">Испания</a></li>
                              <li><a href="http://visa.slavsplav.com.ua/">Греция</a></li>
                              <li><a href="http://visa.slavsplav.com.ua/">Голандия</a></li>
                              <li><a href="http://visa.slavsplav.com.ua/">Словакия</a></li>
                        </ul>
                    </li>
                    <li class="col-sm-3">
                        <ul>
                              <li class="dropdown-header"></li>
                              <li><a href="#">Великобритания</a></li>
                              <li><a href="#">США</a></li>
                              <li><a href="#">Канада</a></li>
                              <li><a href="#">Китай</a></li>
                              <li><a href="#">ОАЕ</a></li>

                        </ul>
                    </li>
                    <li class="col-sm-3">
                        <ul>
                              <li class="dropdown-header">Без биометрии</li>
                              <li><a href="#">Хорватия</a></li>
                              <li><a href="#">Болгария</a></li>
                              <li><a href="#">Кипр</a></li>
                        </ul>
                    </li>
                    </ul>
                </li>                         
   <li class="dropdown mega-dropdown">
         <a href="#" class="dropdown-toggle" data-toggle="dropdown">Туры по Украине<span class="caret"></span></a>              
                <ul class="dropdown-menu mega-dropdown-menu">
                    <li class=" col-sm-3  col-md-3 hidden-xs">
                        <ul>
                                <div class="item">
                                     <a href="#"><img src="/assets/images/about-us/vika2.jpg" class="img-responsive img-rounded" alt=""></a>
                                     <h4 class="text-center"><b>Виктория Щербань</b></h4>
                                     <p class="text-center">тревел-менеджер</p> 
                                      <p class="text-center">+38(067)4303603</p>                    
                                     <p><a href="index-forma-search-tour-vika.html" class="btn btn-danger btn-search-meneger" role="button"> Заявка на подбор тура</a> </p>        
                                </div><!-- End Item -->
                        </ul>
                    </li>
                    <li class="col-sm-3">
                        <ul>
                              <li class="dropdown-header">Туры на праздники</li>
                              <li><a href="tury_ukraine/index-ukraine-const.html">На день конституции</a></li>
                              <li><a href="tury_ukraine/index-ukraine-independent.html">На день независимости</a></li>
                              <br>
                              <li class="dropdown-header">Туры по направлениям</li>
                              <li><a href="tury_ukraine/index-ukraine-all.html#zakarpatia">Туры в Закарпатье</a></li>
                              <li><a href="tury_ukraine/index-ukraine-all.html#lviv">Туры во Львов</a></li>
                              <li><a href="tury_ukraine/index-ukraine-all.html#karpaty">Туры в Карпаты</a></li> <li><a href="tury_ukraine/index-ukraine-all.html#one-day">Туры одного дня</a></li>
                        </ul>
                    </li>
                    <li class="col-sm-3">
                        <ul>
                              <li class="dropdown-header">Экскурсионные туры</li>
                              <li><a href="tury_ukraine/index-ukraine-all.html">Туры с выездом из Винницы</a></li>
                              <li><a href="tury_ukraine/index-europa-lviv.html">Туры с выездом из Львова</a></li>
                              <li><a href="tury_ukraine/index-ukraine-school.html">Школьные туры</a></li>
                              <li><a href="tury_ukraine/index-ukraine-corporative.html">Для корпоративов</a></li>
                        </ul>
                    </li>
                    <li class="col-sm-3">
                        <ul>
                              <li class="dropdown-header">Активный отдых</li>
                              <li><a href="tury_ukraine/splav/index-ukraine-splav.html">Сплавы</a></li>
                              <li><a href="#">Походы</a></li>
                              <li><a href="tury_ukraine/index-ukraine-all.html">Туры к морю</a></li>
                        </ul>
                    </li>
                    </ul>
                </li> 
   <li class="dropdown mega-dropdown ">
         <a href="#" class="dropdown-toggle" data-toggle="dropdown">Прием в Виннице<span class="caret"></span></a>              
                <ul class="dropdown-menu mega-dropdown-menu">
                    <li class="col-sm-3  col-md-3 hidden-xs">
                        <ul>
                                <div class="item">
                                     <a href="#"><img src="/assets/images/about-us/vika2.jpg" class="img-responsive img-rounded" alt=""></a>
                                     <h4 class="text-center"><b>Виктория Щербань</b></h4>
                                     <p class="text-center">тревел-менеджер </p> 
                                      <p class="text-center">+38(067)4303603</p>                    
                                     <p><a href="index-forma-search-tour-vika.html" class="btn btn-danger btn-search-meneger" role="button"> Заявка на подбор тура</a> </p>        
                                </div><!-- End Item -->
                        </ul>
                    </li>
                    <li class="col-sm-offset-3 col-sm-6">
                        <ul>
                              <li class="dropdown-header">Я <i class="fa fa-heart-o" aria-hidden="true"></i> Винницу</li>
                              <li><a href="#">Туры по Винницкой области</a></li>
                              <li><a href="#">Екскурсии по Виннице</a></li>
                              <li><a href="#">Отели</a></li>
                              <li><a href="#">Музеи</a></li>
                              <li><a href="#">Фонтан</a></li>
                        </ul>

                    </li>
                   </ul>
                </li> 
        <ul class="nav navbar-nav navbar-right hidden">
        <li><a href="#" data-toggle="modal" data-target="#login-modal">Login</a></li>
    </ul>
    </ul>
    </div>
    </div>
    </nav>
<!-- end  menu-->
<div class="navbar navbar-default ">
      <div class="container">
        <div class="navbar-header">
          <a   class="navbar-brand">Bootswatch</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
        <li>
          <a routerLink="about">About</a>
        </li>
        <li>
          <a routerLink="tyru-sea">Services</a>
        </li>
      </ul>
    </div>
  </div>    
</div>