
  <footer class="footer-bs">
    <div class="footer-columns">
        <div class="container-fluid ">
            <div class="row">
                <div class="hidden-xs  col-md-3 col-lg-3">
           <div id="mapouter"><div id="gmap_canvas"><iframe width="300" height="250" frameborder="0" scrolling="no" marginheight="0" src="https://maps.google.com/maps?q=вулиця келецька,60  Vinnytsia, Винницкая область, UA, &t=&z=15&ie=UTF8&iwloc=&output=embed" marginwidth="0"></iframe><a class="addmaps"href="http://www.embedgooglemap.net"id="get-map-data">embedgooglemap.net</a></div><style>#gmap_canvas{height:250px;width:300px;}#mapouter{overflow:hidden;height:250px;width:300px;}</style></div>

                </div>
                <div class="col-md-3 col-lg-3">
                    <h4 class="subheading">Контакты</h4>
                    <ul class="list-icons text-white">
                        <li><span class="fa fa-phone" aria-hidden="true"></span> +38 (067) 873-55-57</li>
                        <li><span class="fa fa-phone" aria-hidden="true"></span> +38 (093) 218-17-80</li>
                        <li><span class="fa fa-phone" aria-hidden="true"></span> +38 (067) 430-36-03</li>
                        <li><span class="fa fa-phone" aria-hidden="true"></span> +38 (093) 889-38-68</li>
           
                     
                    </ul>
                <h4 class="subheading">Адрес</h4>
                <ul class="list-icons text-white">
                    <li><i class="fa fa-address-book-o" aria-hidden="true"></i> 21000, Украина, Винница</li>
                    <li><i class="fa fa-address-book-o" aria-hidden="true"></i> ул. Соборная 40</li>
                    <br>
             
                </ul>
              
                </div>
                <div class=" col-md-3 col-lg-3">
                    <h4 class="subheading">График работы</h4>
                    <ul class="list-icons text-white">
                        <li><i class="fa fa-clock-o" aria-hidden="true"></i> ПН-ПТ: 10:00-19:00</li>
                        <li><i class="fa fa-clock-o" aria-hidden="true"></i> СБ: 10:00-19:00</li>
                        <li><i class="fa fa-clock-o" aria-hidden="true"></i> ВС: выходной</li>
                    </ul>
                            <h4 class="subheading">Адрес</h4>
                <ul class="list-icons text-white">
                    <li><i class="fa fa-address-book-o" aria-hidden="true"></i> 21000, Украина, Винница</li>
                    <li><i class="fa fa-address-book-o" aria-hidden="true"></i> ул. Келецкая 60</li>
                 </ul>
                </div>
                <div class="hidden-xs col-md-3 col-lg-3">
             <div id="mapouter"><div id="gmap_canvas"><iframe width="300" height="250" frameborder="0" scrolling="no" marginheight="0" src="https://maps.google.com/maps?q=Vinnytsia, UA вулиця соборна 40, &t=&z=16&ie=UTF8&iwloc=&output=embed" marginwidth="0"></iframe><a class="addmaps"href="http://www.embedgooglemap.net"id="get-map-data">embedgooglemap.net</a></div><style>#gmap_canvas{height:250px;width:300px;}#mapouter{overflow:hidden;height:250px;width:300px;}</style></div>
                </div>
                </div>
                </div>
                </div>
                <div class="footer-copyright">
                <div class="container">
                     <div class="row">  
                        <div class="col-md-4 col-sm-12 col-lg-4"></div>
                        <div class="col-md-8 col-sm-12 col-lg-8">
                         <p>© 2016 <a class="logo" href="/ru">Slavtur</a> | Сделано с любовью</p></div>
                        </div>
                        </div>
                </div>
   </footer>

                
