<!-- Reviews--> 
   <div class="container-fluid">    
        <div class="row new_revie get_reviews">
            <div class="col-sm-3 col-xs-12">
                    <div class="col-xs-12 ">
                <h3 class="text-center  text-white">Оставить свой отзыв</h3>
    <form >
                    <!-- Hidden Required Fields -->
        <input type="hidden" name="project_name" value="Отзыв">
        <input type="hidden" name="admin_email" value="smushinska@gmail.com ">
        <input type="hidden" name="form_subject" value="">
        <!-- END Hidden Required Fields -->

    
                <div class="row">
                    <div class="col-xs-12">
                        <p><input class="input2 " type="text" name="Имя"   placeholder=" Ваше имя" /></p>
                    </div>
         
                </div>
                <div class="row">
                    <div class="col-xs-12">
                    <p>    <textarea  class="form-control" name="Отзыв" placeholder="Оставте свой отзыв"></textarea> 
                    </p>
                    </div>
                </div>   
   

                 <div class="row">
                   <div class=" col-xs-12  ">
                     <input class="btn btn-danger btn-md" type="submit" value="Подтвердить">
                   </div>
                  </div>   
    </form>

           
        </div>
                
            </div>
            <div class="col-sm-9 col-xs-12">
                   <div class="carousel-reviews broun-block">
    
        <div class="row header_ukrain">
         <h2 class="text-center text-white">Что о нас думают нашы клиенты</h2>
            <div id="carousel-reviews" class="carousel slide" data-ride="carousel">

                <div class="carousel-inner">
                    <div class="item active">
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="block-text rel zmin">
                               <div class="mark">Моя оцінка: <span class="rating-input"><span data-value="0" class="glyphicon glyphicon-star"></span><span data-value="1" class="glyphicon glyphicon-star"></span><span data-value="2" class="glyphicon glyphicon-star"></span><span data-value="3" class="glyphicon glyphicon-star"></span><span data-value="4" class="glyphicon glyphicon-star"></span> </span></div>
                                <p>Спасибо всем работникам турфирмы за наш отдых, а Виктории - отдельное спасибо за ее умение организовать такой отдых! Спасибо!!! Надеемся в будущем продолжить сотрудничество с вами. </p>
                                <ins class="ab zmin sprite sprite-i-triangle block"></ins>
                            </div>
                            <div class="person-text rel">
                            
                                <a title="" href="#">Наталия</a>
                              
                            </div>
                        </div>
                          <div class="col-md-8 col-sm-6 hidden-xs">
                            <div class="block-text rel zmin">
                               <div class="mark">Моя оцінка: <span class="rating-input"><span data-value="0" class="glyphicon glyphicon-star"></span><span data-value="1" class="glyphicon glyphicon-star"></span><span data-value="2" class="glyphicon glyphicon-star"></span><span data-value="3" class="glyphicon glyphicon-star"></span><span data-value="4" class="glyphicon glyphicon-star"></span> </span></div>
                                <p>Путешествовали со Славянским туром по Закарпатью 3-5 июня, очень насыщенная и интересная программа, максимум увидели, побывали в тех местах, где давно мечтали и куда не возят другие турагенства. Понравились дегустации вина и сыров, купание в чанах в Лумшорах, гостинница в Мукачево выше всяких похвал. Наш организатор Виктория - настоящий профессионал и большая умница, при том, что группа попалась невероятно сложная, смогла решить все вопросы так, что все остались довольны.  </p>
                                <ins class="ab zmin sprite sprite-i-triangle block"></ins>
                            </div>
                            <div class="person-text rel">
                              
                                <a title="" href="#">Ира</a>
                              
                            </div>
                        </div>

                    </div>
                     
                    <div class="item">
                           <div class="col-md-4 col-sm-6 hidden-xs">
                            <div class="block-text rel zmin">
                               <div class="mark">Моя оцінка: <span class="rating-input"><span data-value="0" class="glyphicon glyphicon-star"></span><span data-value="1" class="glyphicon glyphicon-star"></span><span data-value="2" class="glyphicon glyphicon-star"></span><span data-value="3" class="glyphicon glyphicon-star"></span><span data-value="4" class="glyphicon glyphicon-star"></span> </span></div>
                                <p>Дійсно гарний відпочинок! Дякуюємо Славянскому туру за організацію, насиченість подіями! Було приємно провести час та насолодитися красою наших Карпат! ))</p>
                                <ins class="ab zmin sprite sprite-i-triangle block"></ins>
                            </div>
                            <div class="person-text rel">
                              
                                <a title="" href="#">Андрій</a>
                         
                            </div>
                        </div>
                             <div class="col-md-4 col-sm-6">
                            <div class="block-text rel zmin">
                               <div class="mark">Моя оцінка: <span class="rating-input"><span data-value="0" class="glyphicon glyphicon-star"></span><span data-value="1" class="glyphicon glyphicon-star"></span><span data-value="2" class="glyphicon glyphicon-star"></span><span data-value="3" class="glyphicon glyphicon-star"></span><span data-value="4" class="glyphicon glyphicon-star"></span> </span></div>
                                <p>Я вдячна за незабутні відчуття, море вражень та чудові спогади, які отримала від поїздки Окрема подяка людині, яка супровджувала нашу групу, хвилювалась і турбувалась - це було дуже важливо і приємно)) При можливості буду подорожувати з вами й надалі! Ще раз ДЯКУЮ</p>
                                <ins class="ab zmin sprite sprite-i-triangle block"></ins>
                            </div>
                            <div class="person-text rel">
                         
                                <a title="" href="#">Катя</a>
                           
                            </div>
                        </div>
                         <div class="col-md-4 col-sm-6 hidden-sm hidden-xs">
                            <div class="block-text rel zmin">
                                <div class="mark">Моя оцінка: <span class="rating-input"><span data-value="0" class="glyphicon glyphicon-star"></span><span data-value="1" class="glyphicon glyphicon-star"></span><span data-value="2" class="glyphicon glyphicon-star"></span><span data-value="3" class="glyphicon glyphicon-star"></span><span data-value="4" class="glyphicon glyphicon-star"></span> </span></div>
                                <p>Оце був відпочинок! Вражень маса! Незабутня подорож! Тим паче, в чудової компанії! Дякую, Славянскому - Туру. До нових зустрічей!</p>
                                <ins class="ab zmin sprite sprite-i-triangle block"></ins>
                            </div>
                            <div class="person-text rel">
                       
                                <a title="" href="#">Анна</a>
                            
                            </div>
                        </div>

                    </div>
                    <div class="item">
                    <div class="col-md-4 col-sm-6 hidden-xs">
                            <div class="block-text rel zmin">
                                <div class="mark">Моя оцінка: <span class="rating-input"><span data-value="0" class="glyphicon glyphicon-star"></span><span data-value="1" class="glyphicon glyphicon-star"></span><span data-value="2" class="glyphicon glyphicon-star"></span><span data-value="3" class="glyphicon glyphicon-star"></span><span data-value="4" class="glyphicon glyphicon-star"></span> </span></div>
                                <p>Усім дякую за чудову атмосферу поїздки, незважаючи на погодні умови, незабутні враження, настрій який зберігся ще дотепер і дякую організторам за можливість відчути всю красу та неймовірні краєвиди Карпат! 
                                </p>
                                <ins class="ab zmin sprite sprite-i-triangle block"></ins>
                            </div>
                            <div class="person-text rel">
                         
                                <a title="" href="#">Іван</a>
                                
                            </div>
                        </div>
                         <div class="col-md-4 col-sm-6">
                            <div class="block-text rel zmin">
                               <div class="mark">Моя оцінка: <span class="rating-input"><span data-value="0" class="glyphicon glyphicon-star"></span><span data-value="1" class="glyphicon glyphicon-star"></span><span data-value="2" class="glyphicon glyphicon-star"></span><span data-value="3" class="glyphicon glyphicon-star"></span><span data-value="4" class="glyphicon glyphicon-star"></span> </span></div>
                                <p>Отримала неймовірно великий заряд енергії і позитиву!Провела незабутній День Незалежності України, лізучи на гору Хом'як! Знайшла нових друзів!Була вражена красою наших Карпат та м. Чернівці! І взагалі поїздка - супер! Дякую організаторам за приємно проведений час!!! ...</p>
                                <ins class="ab zmin sprite sprite-i-triangle block"></ins>
                            </div>
                            <div class="person-text rel">
                          
                                <a title="" href="#">Настя</a>
                              
                            </div>
                        </div> 
                         <div class="col-md-4 col-sm-6 hidden-sm hidden-xs">
                            <div class="block-text rel zmin">
                               <div class="mark">Моя оцінка: <span class="rating-input"><span data-value="0" class="glyphicon glyphicon-star"></span><span data-value="1" class="glyphicon glyphicon-star"></span><span data-value="2" class="glyphicon glyphicon-star"></span><span data-value="3" class="glyphicon glyphicon-star"></span><span data-value="4" class="glyphicon glyphicon-star"></span> </span></div>
                                <p>вперше з Вами їдемо, отримали масу задоволення, приємна атмосфера, дуже весело і цікаво!))) дякуємо за чудовий відпочинок!!!! </p>
                                <ins class="ab zmin sprite sprite-i-triangle block"></ins>
                            </div>
                            <div class="person-text rel">
                           
                                <a title="" href="#">Оксана</a>
                          
                            </div>
                        </div>  
      
                  </div>

                </div>
                </div>
                <a class="left carousel-control" href="#carousel-reviews" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left review"></span>
                </a>
                <a class="right carousel-control" href="#carousel-reviews" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right review"></span>
                </a>
            </div>
        </div>
       </div>
     </div>
   </div>
  
<!--End Reviews-->