<!--  Soc_Seti -->

    <div class="container-fluid ">
        <div class="row soc_seti ">
             <div class="col-sm-6 povorot2 ">
    <iframe src="//widget.instagramm.ru/?imageW=2&imageH=2&thumbnail_size=117&type=1&typetext=slavtur&head_show=1&profile_show=1&shadow_show=1&bg=255,255,255,1&opacity=true&head_bg=ff00a8&subscribe_bg=ff0000&border_color=c3c3c3&head_title=" allowtransparency="true" frameborder="0" scrolling="no" style="border:none;overflow:hidden;width:260px;height:318px;"></iframe>
            </div>
         <div class="col-sm-6 povorot3 ">
                <div id="fb-root"></div>
                <script>(function(d, s, id) {
                  var js, fjs = d.getElementsByTagName(s)[0];
                  if (d.getElementById(id)) return;
                  js = d.createElement(s); js.id = id;
                  js.src = "//connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v2.8";
                  fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));</script>

             <div class="fb-page" data-href="https://www.facebook.com/slavyanskytur/" data-width="260" data-height="250" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/slavyanskytur/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/slavyanskytur/">Cлавянский тур</a></blockquote></div>
        </div>
        </div>

        </div>

<!--  /Soc_Seti -->